.header {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
}
#logo-ks {
  width: 140px;
  height: 150px;
  flex: 1;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: aquamarine;
  flex: 7;
}
.list-nav {
  display: flex;
  list-style: none;
  justify-content: center;
  line-height: 6.5em;
}
li {
  color: white;
  font-size: 18px;
}
